azure-core==1.39.0
azure-cosmos==4.16.1
azure-functions==1.24.0
certifi==2026.6.17
charset-normalizer==3.4.7
idna==3.18
MarkupSafe==3.0.3
requests==2.32.5
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.8
